<template>
  <div class="c-todo-item">
    <el-row type="flex"
            justify="space-between"
            align="center">
      <el-col :span="8"
              style="text-align: left">
        <el-checkbox :value="todo.done"
                     @change="$emit('toggle-done', $event)">
          <slot v-if="$slots.default" />
          <span v-else>
            {{ todo.name }}
          </span>
        </el-checkbox>
      </el-col>
      <el-col :span="2"
              style="text-align: left">
        <button @click="$emit('remove-clicked')">
          <i class="el-icon-delete" />
        </button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'TodoItem',
  model: {
    event: 'toggle-done',
    prop: 'done'
  },
  props: {
    todo: {
      type: Object,
      required: true
    },
    done: {
      type: Boolean,
      required: true
    }
  }
}
</script>

